/* css style page */
:root{
    --cor-fundo: #101012;
    --cor-cartao:#212025;
    --cor-botao:#FFFFFF;

    --cor-texto-nav:rgb(158, 158, 167);
    --cor-texto:#FFFFFF;


    --font-size1:16px;
    --font-size2:18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Mona Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: var(--cor-fundo);
}

.nav-container{
    height: 8vh;
    background-color: var(--cor-fundo);
}
.nav-box{
    max-width: 1190px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 16px;
}
.nav-logo{
    color: red;
}

.nav-list{
    display: flex;
    gap: 30px;
    
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    color: var(--cor-texto-nav);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.nav-list a:hover{
    color: var(--cor-texto);
    transition: .7s;
}
.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--cor-texto);
    transition: width .5s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
.intro-img{
    background-image: url(../img/McLaren\ 765LT.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.intro-text{
    max-width: 1190px;
    margin: auto;
    padding-top: 80px;
    display: flex;
    gap: 20px;
    
}
.intro-text h1{
     color: var(--cor-texto);
     font-weight: 100;
     font-size: 54px;
     width: 300px;
}
.intro-text h1 span{
    color: red;
    
}
.intro-text p{
    color: var(--cor-texto);
    font-size: var(--font-size2);
    width: 200px;
}
.cards{
    max-width: 1090px;
    margin: auto;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
}
.card {
    background-color: #f0f0f0;
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    /* padding: 150px 80px; */
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.card p{
    background-color: var(--cor-cartao);
    padding: 10px 5px;
    opacity: 0.8;
    border-radius: 5px;
}
.card:hover{
    transform: scale(1.05);
}
.fast{
    background-image: url(../img/Bugatti.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.old{
    background-image: url(../img/AstonMartin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.lux{
    background-image: url(../img/RollsRoyce.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card-link {
    text-decoration: none; /* Remove o sublinhado padrão do link */
    color: inherit; /* Mantém a cor do texto do link igual à cor padrão */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
}
.how{
    max-width: 1190px;
    margin: auto;
    padding-bottom: 30px;
}
.how-title{
    color: var(--cor-texto);
    font-weight: 100;
    width: 300px;
    padding-bottom: 20px;
}
.table-how{
    display: flex;
    margin: 0 auto;
    gap: 40px;
}
.table-how p{
    color: var(--cor-texto);
}
.table-how table{
    width: 500px;
    color: var(--cor-texto);
}
.list-bk{
    background-color: #212025;
    height: 25px;
}
footer{
    background-color: #212025;
}
.footer{
    display: block;
    color: var(--cor-texto);
    max-width: 1190px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}
.footer ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding-top: 30px;
}

.org{
    max-width: 1190px;
    margin: auto;
    color: var(--cor-texto);
}
.org h1{
    font-weight: 100;
    padding: 50px 0;
}
.org p{
    width: 1090px;
    background-color: #212025;
    padding: 20px;
}
.forms{
    max-width: 1190px;
    margin: auto;
    padding: 50px 0;
}
form {
    max-width: 600px;
    margin: 0 auto;
    color: var(--cor-texto);
  }

  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    height: 150px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .devs{
    color: var(--cor-texto);
    max-width: 1190px;
    margin: auto;
  }
  .devs h3{
    text-align: center;
  }
  .devs ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }